*.pptx
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
backend/uploads/*
!backend/uploads/.gitkeep
venv/
backend/venv/
node_modules/
frontend/node_modules/
*.sqlite
*.sqlite3
*.db
dist/
frontend/dist/
.env
